@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body p {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 200%;
}

header {
    height: 130px;
    background-color: rgb(10, 31, 31);
    position: relative;
}


/*Headings and Icons */
h1,
h2 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    color: aliceblue;
}

/*Top Left Heading */
#main-heading {
    padding-top: 20px;
    float: left;
    width: 33%;
    font-size: 200%;
}

#main-heading a {
    text-decoration: none;
}

/* Options Menu */
#options {
    padding-top: 20px;
    float: right;
    width: 33%;
    top: 0px;
    right: 0px;
    position: absolute;
}

#options li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 45px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    font-size: 150%;
}

#options a {
    color: aliceblue;
    text-decoration: none;
}

#options a:hover {
    border-bottom: 5px solid aliceblue;
    text-transform: uppercase;
}

/* Center Icons*/
#icons {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
}

#icons h2 {
    text-align: center;
    font-size: 55px;
}

/* Beginner Guide */
#beginner {
    background-color: rgb(10, 31, 31);
    height: 550px;
    width: 100%;
}

#beginner-title h1 {
    margin-left: 550px;
    padding-top: 60px;
    font-size: 400%;
    text-decoration-line: underline;
}

#about-beginner p {
    width: 65%;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 300%;
}

#about-beginner a {
    color: aliceblue;
}

#beginner-video {
    margin-top: -350px;
}

#gotham-introduction {
    width: 30%;
    height: 400px;
    float: right;
    margin-right: 60px;
}

/*What is chess.com*/
#chess-com {
    background-color: rgb(10, 31, 31);
    width: 100%;
    height: 700px;
    padding-top: 50px;
}

#left-info {
    Float: left;
    width: 33%;
    margin-left: 20px;
}

#left-info h2 {
    margin-left: 200px;
    font-size: 200%;
    text-decoration-line: underline;
}

#right-info {
    float: right;
    width: 33%;
    margin-right: 20px;
}

.right-info-heading {
    float: right;
    width: 33%;
    margin-right: 200px;
    font-size: 200%;
    text-decoration-line: underline;
}