@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body p {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 200%;
}

header {
    height: 130px;
    background-color: rgb(10, 31, 31);
    position: relative;
}

/*Footer*/
footer {
    background-image: url('../images/chess_footer.png');
    background-repeat: none;
    background-size: cover;
    background-position-x: center;
    height: 200px;
    width: 100%;
    position: static;
    margin: 0;
    bottom: 0;
    padding: 0;
}

#footer-rights {
    width: 100%;
    position: relative;
}

#footer-rights p {
    float: left;
    position: absolute;
    margin-top: 100px;
}

/*Headings and Icons */
h1,
h2 {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    color: aliceblue;
}

/*Top Left Heading */
#main-heading {
    padding-top: 20px;
    float: left;
    width: 33%;
    font-size: 180%;
    margin-left: 20px;
}

#main-heading h1 {
    width: 100%;
}

#main-heading a {
    text-decoration: none;
}

/* Options Menu */
#options {
    padding-top: 20px;
    float: right;
    width: 40%;
    top: 0px;
    right: 0px;
    position: absolute;
}

#options li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    margin-top: 45px;
    font-size: 120%;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
}


#options a {
    color: aliceblue;
    text-decoration: none;
}

#options a:hover {
    border-bottom: 5px solid aliceblue;
    text-transform: uppercase;
}

/* Center Icons*/
#icons {
    padding-top: 30px;
    width: 30%;
    margin: 0 auto;
}

#icons h2 {
    text-align: center;
    font-size: 55px;
}

/* Beginner Guide */
#beginner {
    background-color: rgb(10, 31, 31);
    height: 600px;
    width: 100%;
}

#beginner-title h1 {
    margin-left: 550px;
    padding-top: 60px;
    font-size: 400%;
    text-decoration-line: underline;
}

#about-beginner p {
    width: 65%;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 300%;
}

#about-beginner a {
    color: aliceblue;
}

#about-beginner a:hover {
    color: orangered;
}

#beginner-video {
    margin-top: -350px;
}

#gotham-introduction {
    width: 30%;
    height: 400px;
    float: right;
    margin-right: 60px;
}

/*What is chess.com intoduction section*/
#chess-com {
    background-color: rgb(10, 31, 31);
    width: 100%;
    height: 650px;
    padding-top: 50px;
}

/*Left content*/
#left-info {
    Float: left;
    width: 33%;
    margin-left: 20px;
}

#left-info p {
    font-size: 160%;
}

#left-info h2 {
    margin-left: 20px;
    font-size: 400%;
    text-decoration-line: underline;
}

/*right content*/
#right-info {
    float: right;
    width: 33%;
    margin-top: -270px;
}

.right-info-heading {
    float: right;
    width: 30%;
    margin-right: 300px;
    line-height: 30px;
    clear: both;
    position: absolute;
}

.features-list {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 200%;
    margin-left: 100px;
}

#right-info h2 {
    font-size: 200%;
    margin-left: 20px;
}

/*Center icon*/
#chess-com-king {
    width: 29%;
    margin: 0 auto;
}


#center-icon h2 {
    height: 100%;
    width: 100%;
    margin-top: 200px;
    text-align: center;
    font-size: 500%;
}

/*Trailer section*/
#chess-walkthrough {
    background-color: rgb(10, 31, 31);
    width: 100%;
}

#video-div {
    width: 100%;
}

/*video dimensions*/
#chess-trailer {
    width: 100%;
    height: 600px;
}

/*Article link section*/
#article-heading {
    height: 100px;
    width: 100%;
    padding-top: 40px;
}

#article {
    background-color: rgb(10, 31, 31);
    height: 250px;
    width: 100%;
}

#article-heading h1 {
    float: left;
    margin-left: 20px;
    font-size: 400%;
    text-decoration-line: underline;
}

#list-container {
    height: 150px;
    width: 100%;
}

#list {
    font-family: 'Kanit', sans-serif;
    list-style-type: none;
    float: left;
    margin-left: 20px;
    font-size: 150%;
    width: 50;
}

#useful-list li {
    width: 160px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    display: inline-block;
}

#useful-list li a {
    color: aliceblue;
    text-decoration: underline;
}

#useful-list li a:hover {
    color: orangered;
    text-decoration: none;
}

/* Elo System */
#elo {
    width: 100%;
    height: 1000px;
    background-color: rgb(10, 31, 31);
    position: relative;
}

#elo-heading h1 {
    text-align: center;
    font-size: 400%;
    text-decoration: underline;
}

#elo-video {
    padding-top: 50px;
}

#elo-video iframe {
    width: 100%;
    height: 500px;
    position: absolute;
    margin: 0 auto;
}

/*class for chess.com tags*/
.chess-link {
    text-decoration: underline;
    color: aliceblue;
}

.chess-link:hover {
    color: orangered;
}

/* Form */

.questions-form {
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    margin: 0;
    height: 750px;
}

#q-and-a {
    color: aliceblue;
    padding: 40px;
    height: 450px;
    background-color: rgb(10, 31, 31);
    width: 60%;
    position: absolute;
    margin-left: 20px;
}

#q-and-a>h2 {
    color: aliceblue;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    font-size: 200%;

}

.text-input {
    background: transparent;
    width: 100%;
    height: 30px;
    margin: 10px 0 30px 0;
    border: 1px solid aliceblue;
    border-radius: 2px;
}

#fname {
    width: 100%;
}


#email {
    width: 100%;
}

#answer {
    width: 100%;
    padding-top: 80px;
    margin-top: 30px;
}

#query {
    margin-top: 30px;
}

#submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    border-color: aliceblue;
    background-color: aliceblue;
    display: block;
}

#submit:hover {
    color: aliceblue;
    text-decoration: underline solid aliceblue;
    background-color: rgb(10, 31, 31);
}

/*screen size for large tablets and tablets*/
@media screen and (max-width: 1450px) {

    /*Header elements*/
    header {
        background-color: rgb(10, 31, 31);
        height: 300px;

    }

    #main-heading {
        width: 70%;
        background-color: rgb(10, 31, 31);
    }


    #beginner {
        clear: both;
    }

    br {
        display: none;
    }

    #icons {
        clear: left;
        background-color: rgb(10, 31, 31);
    }

    #options {
        clear: left;
        float: right;
        width: 30%;
    }

    #options li {
        text-decoration: underline solid aliceblue;
        text-align: right;
        width: 100%;
    }

    /*home page section elements*/
    #beginner-title {
        clear: both;
        width: 100%;
    }

    #beginner-title h1 {
        float: left;
        font-size: 250%;
        margin-left: 20px;
    }

    #about-beginner {
        clear: left;
        width: 70%;
    }

    #about-beginner p {
        font-size: 200%;
    }

    #beginner-video {
        width: 35%;
        float: right;
    }

    #beginner-video iframe {
        width: 100%;
        margin-top: 0;
    }

    #chess-com {
        height: 800px;
    }

    #center-icon h2 {
        font-size: 600%;
    }

    /*The next level section elements*/
    #article {
        height: 400px;
    }

    #article-heading h1 {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    #list {
        clear: both;
        height: 300px;
    }

    #useful-list {
        height: 300px;
    }

    #useful-list li {
        padding: 30px;
    }

    #elo-information p {
        margin-left: 20px;
    }
}


/*screen size for mobiles*/
@media screen and (max-width: 950px) {

    /*Header elements*/
    header {
        background-color: rgb(10, 31, 31);
        height: 400px;

    }

    #main-heading {
        width: 100%;
        margin-left: 0px;
        background-color: rgb(10, 31, 31);
    }

    #main-heading h1 {
        text-align: center;
    }

    #beginner {
        clear: both;
    }

    br {
        display: none;
    }

    #icons {
        clear: both;
        background-color: rgb(10, 31, 31);
    }

    #icons h2 {
        font-size: 20px;
    }

    #options {
        clear: left;
        width: 100%;
        margin-left: 0;
        padding-left: 0;
        border: 0;
        top: 200px;
        float: right;
    }

    #options ul {
        padding: 0;
        margin: 0;
    }

    #options li {
        padding: 0;
        margin: 0;
        text-decoration: underline solid aliceblue;
        width: 33%;
        text-align: center;
        margin-top: 40px;
    }

    /*homepage section elements*/
    #about-beginner {
        width: 100%;
    }

    #about-beginner p {
        width: 80%;
        text-align: center;
    }

    #beginner-video {
        clear: both;
        width: 100%;
        margin-top: 150px;
    }

    #beginner-video iframe {
        width: 80;
        margin: 0 auto;
    }

    #left-info {
        width: 100%;
        margin: 0;
    }

    #left-info h2 {
        font-size: 200%;
    }

    #left-info p {
        width: 95%;
        text-align: center;
    }

    #right-info {
        clear: left;
        width: 100%;
        padding-top: 90px;
    }

    #right-info li {
        font-size: 75%;
    }

    #right-info h2 {
        font-size: 150%;
    }

    #chess-com {
        height: 850px;
        margin-top: 0;
    }

    #chess-com-king {
        clear: both;
        width: 100%;
    }

    #center-icon {
        width: 100%;
        float: right;
        padding-top: 50px;
        margin-right: 20px;
    }

    #center-icon h2 {
        font-size: 600%;
        margin-top: 0;
        text-align: right;
    }

    /*The next level section elements*/
    #article {
        height: 600px;
    }
}

/*correcting sizes for screens 495px and smaller*/
@media screen and (max-width: 495px) {

    /*homepage section elements*/
    #center-icon h2 {
        display: none;
    }

    #right-info {
        padding-top: 210px;
    }

    /*list alignment for small displays*/
    #article {
        height: 900px;
    }

    #useful-list li {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }
}